@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal global styles */
:root {
  color-scheme: light dark;
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

html, body {
  height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    line-height: 1.5;
}

main {
    margin: 0;
    padding: 0;
}


html {
  @apply scroll-smooth;
}
